<template>
  <q-item
    clickable
  >
    <q-item-section avatar>
      <q-icon name="dashboard" />
    </q-item-section>

    <q-item-section>
      <q-item-label> {{ link.name }}</q-item-label>
      <q-item-label caption>
        {{ link.description }}
      </q-item-label>
    </q-item-section>

    <q-item-section side>
      <div class="row">
        <q-btn round flat icon="edit" size="12px" @click.stop="onEdit">
          <q-tooltip>
            {{ $t('dashboardMenu.editBoard') }}
          </q-tooltip>
        </q-btn>
  
        <q-btn round flat icon="delete" size="12px" @click.stop="onDelete">
          <q-tooltip>
            {{ $t('dashboardMenu.deleteBoard') }}
          </q-tooltip>
        </q-btn>
      </div>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'
import DashboardDialog from './dialogs/DashboardDialog.vue'

export default defineComponent({
  name: 'DashboardMenuItem',
  emits: ['delete-dashboard', 'edit-dashboard'],
  props: {
    link: {
      id: {
        type: Number,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      description: {
        type: String
      }
    }
  },
  methods: {
    onEdit() {
      this.$q.dialog({
        component: DashboardDialog,
        componentProps: {
          initialName: this.link.name,
          initialDescription: this.link.description
        }
      }).onOk(data => {
        this.$emit('edit-dashboard', {name: data.name, description: data.description, id: this.link.id})
      })
    },
    onDelete() {
      this.$emit('delete-dashboard', this.link.id)
    }
  }
})
</script>
