<template>
    <q-list>
      <q-item-label header>
        {{ $t('dashboardMenu.boardsHeader') }}
      </q-item-label>
      <div
        v-if="dashboards.length"
      >
        <DashboardMenuItem
          v-for="dashboard in dashboards"
          :key="dashboard.id"
          :link="dashboard"
          :active="currentDashboard === dashboard.normalizedName"
          @click="handleDashboardSelection(dashboard.normalizedName)"
          @edit-dashboard="editDashboard"
          @delete-dashboard="deleteDashboard"
        />
      </div>
      <NewDashboard @new-dashboard="addDashboardAndSendToDB" />
    </q-list>
</template>

<script>
import { defineComponent } from 'vue'
import NewDashboard from './NewDashboard.vue'
import Dashboard from 'src/pages/Dashboard.vue'
import DashboardMenuItem from './DashboardMenuItem.vue'
import DashboardsService from 'src/js/services/DashboardsService'
import kebabCase from 'lodash/kebabCase'

find = require('lodash/find')

export default defineComponent({
  name: 'DashboardMenu',
  components: {
    NewDashboard,
    DashboardMenuItem
  },
  data() {
    return {
      currentDashboard: '',
      dashboards: []
    }
  },
  async mounted() {
    try {
      await DashboardsService.getDashboards()
      .then((data) => {
        for (const entry of data) {
          this.addDashboard({
            id: entry.id,
            name: entry.name,
            description: entry.description
          })
        }
      })
    }
    catch (error) {
      console.log(error)
    }
  },
  methods: {
    handleDashboardSelection(normalizedName) {
      if (this.currentDashboard === normalizedName)
      {
        this.$router.push({path: "/main"})
        this.currentDashboard = ''
      }
      else
      {
        this.$router.push({path: "/main/" + normalizedName})
        this.currentDashboard = normalizedName
      }
    },
    addDashboard(data) {
      if (this.dashboards)
      {
        const normName = kebabCase(data.name)

        this.dashboards.push({
          id: data.id,
          name: data.name,
          normalizedName: normName,
          description: data.description
        })

        // Get route data and use addRoute to overwrite routes;
        // Trying to use addRoute() to directly add route as child of /main is adding routes
        // that aren't the child of /main.
        let routeData = this.$router.options.routes.find(r => r.path === '/main')
        routeData.children.push({
          name: normName,
          path: normName,
          component: Dashboard,
          props: {
            id: data.id,
            name: data.name
          }
        })
        this.$router.addRoute(routeData)
      }
    },
    async addDashboardAndSendToDB(data) {
      const maybeBoard = find(this.dashboards, board => {
        return board.name === data.name
      })

      if (maybeBoard != null) {
        // Board already registered! Returning.
        return
      }

      const boardData = {
        id: null,
        name: data.name,
        description: data.description
      }

      await DashboardsService.newDashboard(boardData)
      .then(res => {
        boardData.id = res.id_dashboard
      }) 
      this.addDashboard(boardData)
    },
    async editDashboard(data) {
      // Gets edited board index on this.dashboard + old and new normalized names;
      const boardIndex = this.dashboards.findIndex(element => { return element.id == data.id})
      const oldNormalizedBoardName = kebabCase(this.dashboards[boardIndex].name)
      const newNormalizedBoardName = kebabCase(data.name)

      // Routes to main (because we will be changing the routes.)
      // (Maybe unnecessary? Could check to see if we're on the to-update route.)
      await this.$router.push({path: "/main"})

      // Instances new board data with the received data and replaces old board with new one
      const newBoardData = {
          id: data.id,
          name: data.name,
          normalizedName: newNormalizedBoardName,
          description: data.description
      }
      this.dashboards[boardIndex] = newBoardData

      // Sends board to DB
      await DashboardsService.updateDashboard(newBoardData)

      // Instances new route data for replacing old route data
      const newRoute = {
          name: newNormalizedBoardName,
          path: newNormalizedBoardName,
          component: Dashboard,
          props: {
            id: data.id,
            name: data.name
          }
        }

      // Get route data and use addRoute to overwrite routes with updated ones;
      // Trying to use addRoute() to directly add route as child of /main is adding routes
      // that aren't the child of /main.
      const routeData = this.$router.options.routes.find(r => r.path === '/main')
      const childRouteIndex = routeData.children.findIndex(route => {
        return route.name === oldNormalizedBoardName
      })

      // Replaces child route with updated route and replaces /main routes
      routeData.children[childRouteIndex] = newRoute
      this.$router.addRoute(routeData)

      // Finally, route to the updated board. (Maybe unnecessary?)
      await this.$router.push({path: "/main/" + newNormalizedBoardName})
      this.currentDashboard = newNormalizedBoardName
    },
    async deleteDashboard(boardId) {
      // 
      const boardIndex = this.dashboards.findIndex(element => { return element.id == boardId})
      const normalizedBoardName = kebabCase(this.dashboards[boardIndex].name)


      // Get route data and use addRoute to overwrite routes;
      // Trying to use addRoute() to directly add route as child of /main is adding routes
      // that aren't the child of /main.
      const routeData = this.$router.options.routes.find(r => r.path === '/main')
      const childRouteIndex = routeData.children.findIndex(route => {
        return route.name === normalizedBoardName
      })

      await this.$router.push({path: "/main"})
      await DashboardsService.deleteDashboard(boardId)

      routeData.children.splice(childRouteIndex, 1)
      this.$router.addRoute(routeData)
      this.dashboards.splice(boardIndex, 1)
      this.currentDashboard = ''
    },
  }
})
</script>
