<template>
  <div class="q-pa-md">
    <q-table
      dense
      :title="this.name"
      :rows="rows"
      :columns="columns"
      :loading="loading"
      :no-data-label="queryNoDataLabel"
      row-key="name"
    >
      <template v-slot:top-right>
        <div class="q-pa-sm q-gutter-sm">
          <q-btn
            icon="delete"
            color="negative"
            @click="onDelete"
          >
            <q-tooltip>{{ $t('datatable.deleteTooltip') }}</q-tooltip>
          </q-btn>
          <q-btn
            icon="edit"
            @click="onEdit"
          >
            <q-tooltip>{{ $t('datatable.editTooltip') }}</q-tooltip>
          </q-btn>
          <q-btn
            icon="refresh"
            color="positive"
            @click="runQuery"
          >
            <q-tooltip>{{ $t('datatable.runTooltip') }}</q-tooltip>
          </q-btn>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import DashboardsService from 'src/js/services/DashboardsService'
import DatabasesService from 'src/js/services/DatabasesService'
import { defineComponent } from 'vue'
import DatatableEditDialog from './dialogs/DatatableEditDialog.vue'

export default defineComponent({
  name: 'DataTable',
  data() {
    return {
      name: this.metadata.name,
      query: this.metadata.query,
      id_db: this.metadata.id_db,
      columns: [],
      rows: [],
      loading: false,
      queryNoDataLabel: this.$t('datatable.noData')
    }
  },
  emits: [
    'delete-table'
  ],
  props: {
    metadata: {
      id: {
        type: Number,
        required: true
      },
      name: {
        type: String
      },
      query: {
        type: String
      },
      id_db: {
        type: Number
      }
    }
  },
  async mounted() {
    if (this.query !== '' && this.query !== null) {
      await this.runQuery()
    }
  },
  methods: {
    onEdit() {
      this.$q.dialog({
        component: DatatableEditDialog,
        componentProps: {
          initialName: this.name,
          initialQuery: this.query,
          initialDB: this.id_db
        }
      }).onOk(data => {
        let wasChanged = false

        if (this.name !== data.name) {
          this.name = data.name
          wasChanged = true
        }

        if (this.query !== data.query) {
          this.query = data.query
          wasChanged = true
        }

        if (this.id_db !== data.id_db) {
          this.id_db = data.id_db,
          wasChanged = true
        }

        if (wasChanged)
        {
          this.loading = true
          const updatedDatatable = {
            id_table: this.metadata.id,
            name: this.name,
            query: this.query,
            id_db: this.id_db
          }

          DashboardsService.updateDatatable(updatedDatatable)
          this.runQuery()
        }
      })
    },
    onDelete() {
      this.$q.dialog({
        title: this.$t('datatable.deleteDialog.title'),
        message: this.$t('datatable.deleteDialog.message', { tableName: this.name }),
        cancel: true
      }).onOk(() => {
        // Runs at pages/Dashboard.vue
        this.$emit('delete-table', this.metadata.id)
      })
    },
    async runQuery() {
      this.columns = []
      this.rows = []

      this.loading = true

      await DatabasesService.runQuery(this.metadata.id)
      .then(data => {
        this.queryHasError = false
        let parsedJson = data
        // Assign received columns
        if (parsedJson){
          let newColumns = []
          for (const entry in parsedJson.columns) {
            newColumns.push({
              name: parsedJson.columns[entry],
              required: false,
              label: parsedJson.columns[entry],
              align: 'left',
              field: row => row[entry],
              format: val => `${val}`,
              sortable: false
            })
          }
          if (newColumns.length > 0) {
            this.columns = newColumns
            
            if (parsedJson.rows !== null) {
              if (parsedJson.rows.length > 0) {
                this.rows = parsedJson.rows
              }
              else
              {
                this.queryNoDataLabel = this.$t('datatable.noData')
              }
            }
          }
        }
      }, (response) => {
        this.queryNoDataLabel = this.$t('datatable.queryError', {errorMsg: response.message})
      })
      .catch(err => {
        console.log(err)}
      )
      .finally(() => {
        this.loading = false
      })
    },
    handleNoDataLabel() {
      if(queryHasError) {
        return this.$t('datatable.queryError', {})
      }
      else
      {
        return this.$t('datatable.noData')
      }
    }
  }
})
</script>