<template>
  <q-select
    hide-dropdown-icon
    v-model="currentLocale"
    :options="locales"
    @update:model-value="onLocaleSelect"
    style="width: 64px;"
  >
    <template v-slot:selected>
      <country-flag :country='currentLocale.flag'/>
    </template>

    <template v-slot:option="scope">
      <q-item v-bind="scope.itemProps">
        <country-flag :country='scope.opt.flag'/>
      </q-item>
    </template>
  </q-select>
</template>



<script>
import { defineComponent } from 'vue'
import CountryFlag from 'vue-country-flag-next'
import find from 'lodash/find'

const locales = [
  {
    locale: "pt-BR",
    flag: "br"
  },
  {
    locale: "en-US",
    flag: "us"
  },
]

export default defineComponent({
  name: 'i18nBtn',
  components: {
    CountryFlag
  },
  data() {
    return {
      currentLocale: { locale: "en-US", flag: "us" },
      locales
    }
  },
  methods: {
    onLocaleSelect(locale) {
      this.$root.$i18n.locale = locale.locale
      console.log(this.$root.$i18n.locale)
    }
  }
})
</script>
