<template>
  <q-item
    clickable
    @click="openDialog"
  >
    <q-item-section avatar>
      <q-icon name="dashboard_customize" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ $t('dashboardMenu.newBoardBtn.label') }}</q-item-label>
      <q-item-label caption>
        {{ $t('dashboardMenu.newBoardBtn.desc') }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'
import DashboardDialog from 'src/components/dialogs/DashboardDialog.vue'

export default defineComponent({
  name: 'NewDashboard',
  emits: ['new-dashboard'],
  methods: {
    openDialog() {
      this.$q.dialog({
        component: DashboardDialog,
        componentProps: {
          initialName: this.$t('dashboardMenu.boardDialog.defaultName'),
          initialDescription: this.$t('dashboardMenu.boardDialog.defaultDescription')
        }
      }).onOk(data => {
        this.$emit('new-dashboard', data)
      })
    }
  }
})
</script>
