<template>
  <div>
    <div v-if="!dbInitialized">
      {{ $t(tPath + 'empty') }}
    </div>
    <q-select 
      :label="$t(tPath + 'dbSelect')"
      v-model="currentDB"
      :options="databases"
      option-label="name"
      @update:model-value="onDatabaseSelect"
    />

    <q-form 
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md col"
    >
      <q-select 
        class="db-form-field"
        :label="$t(tPath + 'dbTypeSelect')"
        v-model="currentDB.params.type"
        :options="databaseTypes"
        option-label="name"
        @update:model-value="onDBTypeSelect"
      />

      <q-input
        class="db-form-field"
        v-model="currentDB.name"
        :label="$t(tPath + 'dbName')"
        :disable="!dbInitialized"
      />

      <!-- Database parameters -->
      <div>
        <q-btn :label="$t(tPath + 'btn.submit')" type="submit" color="positive"/>
        <q-btn :label="$t(tPath + 'btn.reset')" type="reset" color="primary" outline class="q-ml-sm" />
        <q-btn :label="$t(tPath + 'btn.delete')" :disable="!isCurrentDBStored()" color="negative" class="q-ml-sm" @click="onDeleteDB"/>
      </div>
    </q-form>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import DatabasesService from 'src/js/services/DatabasesService'
import constants from 'src/js/const'

find = require('lodash/find')

const tPath = "settings.tabs.databases.form."

export default defineComponent({
  name: 'SettingsDBTab',
  data() {
    return {
      dbInitialized: false,
      currentDB: {
        id: null,
        name: null,
        params: {
          type: { name: null, key: null }
        }
      },

      databaseTypes: constants.databaseTypes,
      databases: [],

      tPath
    }
  },
  async mounted() {
    try {
      await DatabasesService.getDatabases()
      .then((data) => {
        for (const entry of data) {
          this.databases.push({
            id: entry.id_db,
            name: entry.name,
            params: {
              type: find(this.databaseTypes, (item) => {
                return item.key === entry.db_type
              })
            }
          })
        }
      })
    }
    catch (error) {
      console.log(error)
    }
  },
  methods: {
    onDatabaseSelect(database) {
      this.currentDB.id = database.id
      this.currentDB.name = database.name
      this.currentDB.params = database.params
      console.log(database)

      this.dbInitialized = true
    },
    onDBTypeSelect(dbType){
      if (!this.dbInitialized)
      {
        this.currentDB = {
          id: this.databases.length + 1,
          name: this.$t(tPath + 'defaultDbName'),
          params: {
            type: dbType,
          }
        }

        this.dbInitialized = true
      }
      else
      {
        this.currentDB.params = {}
        this.currentDB.params.type = find(this.databaseTypes, (item) => {
                return item.key === dbType.key
              })
      }
    },
    onSubmit() {
      if (!this.isCurrentDBStored()) {
        DatabasesService.newDatabase({
          db_name: this.currentDB.name,
          db_type: this.currentDB.params.type.key
        })
        .then(res => {
          this.currentDB.id = res.id_db
        })
        this.databases.push(this.currentDB)
      }
      else {
        DatabasesService.updateDatabase({
          id_db: this.currentDB.id,
          db_name: this.currentDB.name,
          db_type: this.currentDB.params.type.key
        })
      }
    },
    onDeleteDB() {
      this.$q.dialog({
        title: this.$t(tPath + 'deleteDBDialog.title'),
        message: this.$t(tPath + 'deleteDBDialog.message', {dbName: this.currentDB.name}),
        cancel: true
      }).onOk(() => {
        const dbIndex = this.databases.findIndex(db => { return db.id == this.currentDB.id_db })
        this.databases.splice(dbIndex, 1)
        DatabasesService.deleteDatabase(this.currentDB.id)
        this.currentDB = {
          id: null,
          name: null,
          params: {
            type: { name: null, key: null }
          }
        }
      })

    },
    onReset() {
      this.currentDB = {
        id: null,
        name: null,
        params: {
          type: null
        }
      }
      this.dbInitialized = false
    },
    isCurrentDBStored() {
      for (const key in this.databases) {
        if (this.currentDB.id === this.databases[key].id) {
          return true
        }
      }

      return false
    }
  }
})
</script>

<style scoped>
.db-form-field {
  width: 20% !important;
}

</style>
