<template>
  <q-dialog  ref="dialog" @hide="onDialogHide">
      <q-card class="q-dialog-plugin" style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t('dashboardMenu.boardDialog.title') }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            dense
            :label="$t('dashboardMenu.boardDialog.boardName')"
            v-model="dashboardName"
            autofocus
            @keyup.enter="onOkClick"
          />
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            dense
            :label="$t('dashboardMenu.boardDialog.boardDesc')"
            v-model="dashboardDescription"
            @keyup.enter="onOkClick"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat :label="$t('dashboardMenu.boardDialog.btn.cancel')" color="negative" @click="onCancelClick" />
          <q-btn flat :label="$t('dashboardMenu.boardDialog.btn.confirm')" @click="onOkClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'DashboardDialog',
  emits: [
    'ok', 'hide'
  ],
  data() {
    return {
      dashboardName: this.initialName,
      dashboardDescription: this.initialDescription
    }
  },
  props: {
    initialName: {
      type: String,
      default: ''
    },
    initialDescription: {
      type: String,
      default: ''
    }
  },
  methods: {
    show() {
      this.$refs.dialog.show()
    },
    hide() {
      this.$refs.dialog.hide()
    },
    onDialogHide() {
      this.$emit('hide')
    },
    onOkClick() {
      this.$emit('ok', {name: this.dashboardName, description: this.dashboardDescription})

      this.hide()
    },
    onCancelClick() {
      this.hide()
    }
  }
})
</script>
