<template>
  <q-dialog  ref="dialog" @hide="onDialogHide">
      <q-card class="q-dialog-plugin" style="width:50%">
        <q-card-section>
          <div class="text-h6">{{ name }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            dense
            :label="$t('datatable.editDialog.nameField')"
            v-model="name" />
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-select 
            class="db-form-field"
            :label="$t('datatable.editDialog.dbSelect')"
            v-model="currentDB"
            :options="databases"
            option-label="name"
            option-value="normalizedName"
          />
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ $t('datatable.editDialog.sqlQueryLabel') }}
          <v-ace-editor
            v-model:value="query"
            lang="sql"
            theme="github"
            style="height:100%; min-height: 300px;"
            :options="{
              fontSize: 14,
              highlightActiveLine: true,
              showLineNumbers: true,
              tabSize: 2,
              showPrintMargin: false,
              showGutter: true
            }"
          />
          <!-- <q-input dense filled type="textarea" v-model="query" /> -->
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn :label="$t('datatable.editDialog.btn.cancel')" color="negative" @click="onCancelClick" />
          <q-btn :label="$t('datatable.editDialog.btn.confirm')" @click="onOkClick" />
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>

<script>
import { defineComponent } from 'vue'
import { VAceEditor } from 'vue3-ace-editor'
import 'ace-builds/src-noconflict/mode-sql'
import 'ace-builds/src-noconflict/theme-github'
import DatabasesService from 'src/js/services/DatabasesService'

find = require('lodash/find')

export default defineComponent({
  name: 'DatatableEditDialog',
  emits: [
    'ok', 'hide'
  ],
  components: {
    VAceEditor
  },
  props: {
    initialName: {
      type: String,
      required: true
    },
    initialQuery: {
      type: String,
      required:true
    },
    initialDB: {
      type: Number
    }
  },
  data() {
    return {
      name: this.initialName,
      query: this.initialQuery,
      id_db: this.initialDB,
      currentDB: null,
      databases: []
    }
  },
  async mounted() {
    try {
      await DatabasesService.getDatabases()
      .then((data) => {
        for (const entry of data) {
          this.databases.push({
            id: entry.id_db,
            name: entry.name,
            params: {
              type: entry.db_type
            }
          })
        }
      })
    }
    catch (error) {
      console.log(error)
    }

    this.currentDB = find(this.databases, (item) => {
        return item.id === this.id_db
      }).name
  },
  methods: {
    show() {
      this.$refs.dialog.show()
    },
    hide() {
      this.$refs.dialog.hide()
    },
    onDialogHide() {
      this.$emit('hide')
    },
    onOkClick() {
      this.$emit('ok', {name: this.name, query: this.query, id_db: this.id_db})

      this.hide()
    },
    onCancelClick() {
      this.hide()
    }
  }
})
</script>
