<template>
  <q-page>
    <div class="q-pa-lg q-gutter-sm">
      <q-btn
        color="primary"
        :label="$t('dashboard.newTable')"
        icon="table_chart"
        @click="newTable"
      /><q-btn
        color="positive"
        :label="$t('dashboard.runQueries')"
        icon="refresh"
        @click="runQueries"
      />
    </div>
    <div 
      class="row q-pa-md"
      v-if="tables.length"
    >
      <DataTable
        v-for="table in tables"
        :key="table.id"
        :metadata="table"
        ref="tables"
        @delete-table="deleteTable"
      />
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import DataTable from 'src/components/DataTable.vue';
import DashboardsService from 'src/js/services/DashboardsService';

export default defineComponent({
  name: 'Dashboard',
  components: {
    DataTable
  },
  props: {
    // TODO: (maybe) Change this to orderId and dbId, to separate between
    // table order in front-end and table retrieval in back-end.
    id: {
      type: Number,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      lastId: 0,
      tables: []
    }
  },
  async mounted() {
    try {
      await DashboardsService.getDatatables(this.id)
      .then((data) => {
        for (const entry of data) {
          let table = {
            id: entry.id,
            name: entry.name,
            query: entry.query,
            id_db: entry.id_db,
            id_dashboard: this.id
          }

          this.tables.push(table)
        }
      })
    }
    catch (error) {
      console.log(error)
    }
  },
  methods: {
    async newTable(data) {
      let newTable = {
        // Initializes a table with default parameters.
        id: -1,
        name: this.$t('dashboard.defaultTableName'),
        query: "",
        id_db: null,
        id_dashboard: this.id,
        columns: [],
        rows: []
      }

      // Sends table to DB and get its new ID before pushing it to the tables list.
      await DashboardsService.newDatatable(newTable)
      .then(res => {
        newTable.id = res.id_table
      })
      this.tables.push(newTable)

    },
    async runQueries() {
      await this.$refs.tables.runQuery()
    },
    async deleteTable(tableId) {
      await DashboardsService.deleteDatatable(tableId)

      const tableIndex = this.tables.findIndex(table => { return table.id == tableId })
      this.tables.splice(tableIndex, 1)
    }
  }
})
</script>