<template>
  <q-layout view="hhh Lpr fFf">
    <q-page-container>
      <q-page class="flex flex-center">
        <img
          src="~assets/fino_logo_lineart.svg"
          style="height: 94vh;"
        >
        <q-card
          id="login-card"
          class="absolute-center q-pa-sm"
        >
          <q-btn
            rounded
            dense
            :label="$t('index.start')"
            color="primary"
            class="full-width"
            style="height: 100%;"
            to="/main"
          />
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
  
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Index'
})
</script>

<style>
#login-card {
  width: 10%;
  height: 15%;
  min-width: 100px;
  max-height: 75px;
}
</style>
