<template>
  <q-page class="flex flex-center">
    <img
      src="~assets/fino_logo_lineart.svg"
      style="height: 94vh;"
    >
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'MainPage'
})
</script>