<template>
  <q-page class="flex flex-center">
    <img
      src="~assets/fino_logo_lineart.svg"
      style="height: 94vh;"
    >

    <q-card class="absolute-center">
      <q-tabs 
        v-model="activeTab" 
        align="justify"
        active-color="primary"
        
      >
        <!-- <q-tab label="Application Settings" name="app-settings" icon="settings_applications"/> -->
        <q-tab 
          :label="$t('settings.tabs.databases.tabName')"
          name="db-config"
          icon="donut_small"/>
      </q-tabs>

      <q-tab-panels class="full-height" v-model="activeTab">
        <q-tab-panel class="full-height" name="db-config">
          <SettingsDBTab/>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import SettingsDBTab from 'src/components/SettingsDBTab.vue';

export default defineComponent({
  name: 'Settings',
  components: {
    SettingsDBTab
  },
  data() {
    return {
      activeTab: 'db-config'
    }
  }
})
</script>

<style>
.q-card {
  width: 90%;
  min-height: 60%;
}
</style>