<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          @click="toggleLeftDrawer"
        />

        <!-- Insert a faux title as to use quasar's default layout  -->
        <q-toolbar-title/>

        <i18nBtn/>

        <q-btn
          flat
          dense
          round
          icon="settings"
          @click="onSettingsBtn"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <DashboardMenu ref="dashboards"/>
    </q-drawer>

    <q-page-container>
      <router-view 
        :key="$route.fullPath"
        @delete-dashboard="onDeleteDashboard"
      />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref} from 'vue'
import DashboardMenu from 'src/components/DashboardMenu.vue';
import i18nBtn from 'src/components/i18nBtn.vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    DashboardMenu,
    i18nBtn
  },
  data() {
    return {
      leftDrawerOpen: false
    }
  },
  setup: () => {
    const dashboards = ref(null)
    return {
      dashboards
    }
  },
  
  methods: {
    toggleLeftDrawer () {
      this.leftDrawerOpen = !this.leftDrawerOpen
    },
    onSettingsBtn() {
      let settingsRoute = '/main/settings'
      this.$router.push(this.$route.fullPath === settingsRoute ? '/main/' : settingsRoute)
    },
    onDeleteDashboard(boardId) {
      this.$refs.dashboards.deleteDashboard(boardId)
    }
  }
})
</script>
